.contenedor-dias {
  display: inline-table;
}

.contenedor-dias>.dia {
  display: inline-block;
  width: 14%;
  text-align: center;
  cursor: pointer;
}

.diacalend {
  padding-top: 5px;
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.seleccionado {
  background-color: #76ddff;
}

.flex{
  flex: auto;
}
.container {
  display: flex;
  justify-content: center;
  height: calc(100vh - 104px);
  padding: 20px;
}
.fila mat-form-field{
  margin: 5px;
}

.example-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.form{
  width: 100%;

}
.columna{
  display: flex;
  flex-direction: column;
}

.fila{
  width: 100%;
}
