<div class="container">
  <form [formGroup]="formulario" class="form">
    <h1 style="text-align: center" class="titulo">Registrar Especialidad</h1>
    <div class="fila" style="display: flex; justify-content: space-between">

      <mat-form-field >
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
        <mat-error *ngIf="formulario.get('nombre')?.hasError('required')">
          <a> El nombre es obligatorio</a>
        </mat-error>
      </mat-form-field>

    </div>
    <br>

    <button mat-raised-button color="basic" (click)="enviarGuardar()">
      <img src="assets/images/guardar.png" class="example-image">
    </button>
    <button mat-raised-button color="basic" [hidden]="idSeleccionado <= 0" (click)="eliminar()">
      <img src="assets/images/eliminar.png" class="example-image">
    </button>
    <button mat-raised-button color="basic" (click)="cancelar()">
      <img src="assets/images/cancelar.png" class="example-image">
    </button>

    <div>
      <table mat-table [dataSource]="especialidad" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="cargarDatos(row)"></tr>
      </table>
    </div>

  </form>

</div>
